extends skeleton
block content
    h1.heading-large Taste test administration
    if votingOpen
        p Letters have already been assigned to samples.
        p You can't do it again.
    else
        p We are currently accepting samples ready for the taste test.
        p Do you wish to permanently close submissions and assign the samples letters?
        form(method='POST')
            input(type="submit", value="Close submissions", disabled).button.button-get-started

        p.text-secondary This can't be undone, so don't do it unless you mean it.
