extends skeleton
block breadcrumb
    li Add a sample
block content
    .grid-row
        form(method="POST").column-two-thirds
            h1.heading-large Add a sample
            fieldset
                legend
                    h2.heading-medium Basic information
                .form-group
                    label.form-label(for="shop")
                        span Purchase location
                        span.form-hint For example, "Lidl"
                    input(name="purchaseLocation",size=20,required)#shop.form-control-1-1.form-control
                .form-group
                    label.form-label(for="brand")
                        span Brand
                        span.form-hint For example, "Tesco Value Mince Pies"
                    input.form-control(name="brand",required)#brand.form-control-2-3
                .form-group
                    label.form-label(for="description")
                        span Flavour text
                        span.form-hint This is the description on the front of the box (optional)
                    input.form-control(name="flavourText",placeholder="Instant milkshake that's fun for all the family!")#description.form-control-3-4
                .form-group
                    label.form-label(for="description")
                        span Description on label
                        span.form-hint This is the dry description listed just before the ingredients
                    input.form-control(name="description",placeholder="Strawberry flavour powder with added vitamins.")#description.form-control-3-4
                .form-group
                    label.form-label(for="number")
                        span Number per pack
                    input.form-control(type="number", name="numberPerPack", size="2", step=6, min="0", max="72")#number.form-control-1-8
                .form-group
                    label.form-label(for="price")
                        span Price per pack
                        span.form-hint This is the price after any special offers
                    span £
                    input.form-control(type="number", name="pricePerPack", placeholder="0.99", step="0.01", min="0", max="10")#price.form-control-1-8

            .form-group
                fieldset
                    legend
                        h2.heading-medium Is this sample vegan, or vegetarian?
                    .multiple-choice
                        input#veg0(type="radio", value="vegan", required, name="isVegetarian").formcontrol
                        label(for="veg0") Yes, it is suitable for vegans and vegetarians
                    .multiple-choice
                        input#veg1(type="radio", value="true", required, name="isVegetarian").formcontrol
                        label(for="veg1") Yes, it is suitable for vegetarians (but not vegans)
                    .multiple-choice
                        input#veg2(type="radio", value="false", required, name="isVegetarian").formcontrol
                        label(for="veg2") No, it is not suitable for vegetarians
                    .multiple-choice
                        input#veg3(type="radio", value="null", required, name="isVegetarian").formcontrol
                        label(for="veg3") I am not sure

            h2.heading-medium Does it contain alcohol?
            .form-group
                fieldset.inline
                    .multiple-choice
                        input#alc1(type="radio", value="true", required, name="hasAlcohol").formcontrol
                        label(for="alc1") Yes
                    .multiple-choice
                        input#alc2(type="radio", value="false", required, name="hasAlcohol").formcontrol
                        label(for="alc2") No

            .form-group
                fieldset
                    legend
                        h2.heading-medium Is it a ‘standard’ mince pie?
                        p Most of our samples subscribe to the Mr Kipling school of pie design.
                        p Your sample is non-standard if, for example:
                        ol.list-bullet
                            li it is a weird flavour, like salted caramel
                            li it doesn't have shortcrust pastry
                            li it has icing
                            li it costs more than £2 for six
                        p
                        .panel.panel-border-wide#premium-confirmation
                            p.form-block.body-text Non-standard mince pies are numbered separately in the taste test
                    .multiple-choice
                    .multiple-choice
                        input#stand1(type="radio", value="true", required, name="isStandard").formcontrol
                        label(for="stand1") Yes, it's a ‘standard’ mince pie
                    .multiple-choice
                        input#stand2(type="radio", value="false", required,data-target='premium-confirmation', name="isStandard").formcontrol
                        label(for="stand2") No, it's a ‘premium’ or otherwise abnormal mince pie

            .form-group
                input(type="submit", value="Save and continue").button