extends skeleton
block content
    .column-two-thirds
        .govuk-box-highlight
            h1.heading-large Sample recorded

            p
                span Please bring your mince pies to the Hub by &nbsp;
                strong 10am on Monday
                span .
        if duplicate
            p Someone has already entered the details of these mince pies, so you didn't need to add any more information.
        p.
            They'll be assigned a letter prior to the taste test.
        p.
            We can't give it a letter yet as not all the types of mince pie have been recorded.
        p: a.link-back(href='/') Back to home