extends skeleton
block title
  title Not Implemented
block content
  .grid-row.error.form-group-error
    .column-two-thirds
      h1.heading-xlarge Not Implemented
      p We've not written this bit yet. Come back later.
      a.link-back(href='/') Return to home page
