extends skeleton
block breadcrumbs
block content
  .grid-row
    .column-two-thirds
        h1.heading-large Eat some mince pies
        p.lede Sample slightly too many mince pies and then record your results with this service.
        p This is a simple service that has lots of scope to subvert the ballot, so:
        form(method="POST")
          .form-group
            fieldset
              .multiple-choice
                input#promise(name="promise", type="checkbox", value="promise", required).form-control
                label(for="promise") I promise not to be a spoilsport
          .form-group
            input(type="submit", value="Begin scoring").button-get-started.button
        .panel
            p.
                This website uses cookies to identify you and your votes.
            p.
                If you clear your cookies or use a different browser or device, your votes will no longer be associated with you
                and things will go wonky. So don't do that.
        h2.heading-medium Methodology
        p.
          Various brands of mince pies were bought from various shops in the Sheffield area.
          They were assigned a letter randomly (single-blind) by a computer.
        p Thanks to Mike and Adrian for bringing in some additional mince pies.
        h2.heading-medium Dietary information
        p.
            On a best effort basis, we mention when mince pies contain alcohol
            or are suitable for vegetarians. Allergy information is unavailable, because nobody asked.
