extends skeleton
block breadcrumb
    li Sample Identifiers
block content
    h1.heading-large Sample Identifiers
    p.lede Here is a list of the samples we have.
    p Viewing the letters before scoring subverts the blind taste test, so please only click through if you have a need.
    table
        thead
            tr
                th Purchase location
                th Sample
                th
        tbody
            for sample in samples
                tr
                    td= sample.purchaseLocation
                    td
                        span= sample.brand
                        div.text-secondary.font-xsmall= sample.description
                    td
                        a(href='/sample-admin/'+sample._id).button Show letter